html, body {
  height: 100%;
}

.grid {
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  box-sizing: border-box;
  padding: 1em;
  height: 100%;
  width: 100%;
}

.item {
  background-color: #fff;
}